<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seção de Tecnologia</title>
</head>
<body>
    <h1>Tecnologia da Informação</h1>
    </br>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi saepe sapiente maxime inventore necessitatibus magnam exercitationem voluptate! Cum vero, eius dolor suscipit qui nisi doloribus recusandae ipsam ab voluptatem! Temporibus.
    </p>
</body>
</html>